* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 10em;
  background-image: linear-gradient(to bottom right, #F5DF4D, #BB2649, #939597, #0F4C81, #FFC196);
}

h1{
  text-align: center;
  font-size: 22px;
  font-family: 'poppins', Arial, serif;
  padding-bottom: 15px;
  padding-top: 15px;
}

.title_box{
  background-image: linear-gradient(to right, #fff, #939597);
}

.column_titles {
  font-weight: bold;
}

.pantone_table {
  padding: 10px;
  font-family: 'poppins', Arial, serif;
  background-image: linear-gradient(to bottom left, 		#0F4C81, #92A8D1);
}

td:nth-child(even){
  background-image: linear-gradient(to right, #fff, #939597);
}

td {
  width: 15em;
  border: 1px solid #000;
  padding: 5px;
  background-color: #fff;
}

#preview24 {
  background-color: #ffc196;
}

#preview23 {
  background-color: #bb2649;
}

#preview22 {
  background-color: #6667AB;
}

#preview21{
  background-color: #F5DF4D;
}

#secondpreview21{
  background-color: #939597;
}

#preview20{
  background-color: #0F4C81;
}

#preview19{
  background-color: #FF6F61;
}

#preview18{
  background-color: #6B5B95;
}

#preview17{
  background-color: #88B04B;
}

#preview16{
  background-color: #F7CAC9;
}

#secondpreview16{
  background-color: #92A8D1;
}



